*{
  font-family: 'Love Ya Like A Sister', cursive;
  margin: 0 auto;
}
body{
  background-color: #2A1E5C;
}
.container{
  background-color: #3CBBB1;
  display: flex;
  width: 100%;
  height: 100px;
}
.flex-container{
  width: 30%;
  margin: 20px;
  flex-flow: column;
}
.opciones{
  width: 70%;
}
nav{
  flex-direction: row wrap;
  justify-content: space-between;
}
li{
  list-style: none;
}
a{
  margin: 10px;
  font-size: 30px;
  color: #2A1E5C;
}
.containerImages{
  display: flex;
  width: 90%;
  height: 270px;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: row;
}
.panda{
  width: 220px;
  height: 220px;
  border:  3px solid #C4CBCA;

}
#pandaPrimero{
    background-image: url(../img/panda1.jpg);
}
#pandaSegundo{
    background-image: url(../img/panda2.jpg);
}
#pandaTercero{
    background-image: url(../img/panda3.jpg);
}
#pandaCuarto{
  background-image: url(../img/panda4.jpg);
}
.subMenu{
  display: flex;
  width: 90%;
  height: 50px;

}
.opcion{
  width: 30%;
  height: 50px;
  background-color: #EE4266;
  text-align: center;
  text-decoration: none;
}
.link{
  text-decoration: none;
  color: #C4CBCA;
}
.contenido{
   width: 90%;
   height: 350px;
   display: flex;
   flex-direction: row;
   margin-top: 15px;
}
.columna{
   margin-top: 30px;
   text-align: justify;
   width: 45%;
   height: 250px;
   color: #C4CBCA;
}

.closebtn a{
  text-decoration: none;
  color: white;
  display: flex;
  justify-content:flex-start;
}
